@page "/Contact"
@using WiredBrainCoffeeClient.Components
@using System.Net.Http;

@inject NavigationManager NavManager
@inject WiredBrainCoffee.Services.FileService FileService
@inject HttpClient Http
@using System.IO

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Contact Us</h2>
                <p>We'd love to hear from you! We try our best to respond within 24 hours.</p>
                <hr />
                <div class="contact-form">
                    <EditForm Model="@ContactForm" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <InputText id="firstName" class="form-control" @bind-Value="@ContactForm.Name" placeholder="Enter first name"></InputText>
                            <ValidationMessage For="@(() => ContactForm.Name)" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <InputText id="email" class="form-control" @bind-Value="@ContactForm.Email" placeholder="Enter email"></InputText>
                            <ValidationMessage For="@(() => ContactForm.Email)" />
                        </div>
                        <div class="form-group">
                            <label for="email">Phone: </label>
                            <InputText id="email" class="form-control" @bind-Value="@ContactForm.Phone" placeholder="Enter phone"></InputText>
                            <ValidationMessage For="@(() => ContactForm.Phone)" />
                        </div>
                        <div class="form-group">
                            <label for="message">Message: </label>
                            <InputTextArea id="message" class="form-control" @bind-Value="@ContactForm.Message" placeholder="Enter message"></InputTextArea>
                            <ValidationMessage For="@(() => ContactForm.Message)" />
                        </div>

                        <div class="form-group">
                            <InputFile OnChange="@OnInputFileChange" />
                        </div>

                        <button type="submit" class="btn btn-success">Submit</button>
                    </EditForm>
                </div>
            </div>
            <div class="col-md-4">
                <MailingList />
                <hr />
                <div>
                    <h3>Contact Details</h3>
                    <p>
                        1234 Wired Brain Blvd
                        <br>Awesome City, MM 55555
                        <br>
                    </p>
                    <p>
                        <span title="Phone">Phone</span>: (555) 456-7890<br />
                        <span title="Hours">Hours</span>: Monday - Friday: 6:00 AM to 9:00 PM
                    </p>
                </div>
                <img style="width: 100%" src="images/placeholder.png" />
            </div>
        </div>
    </div>
</div>
@code {
    public Contact ContactForm = new Contact();
    IReadOnlyList<IBrowserFile> selectedFiles;

    private async void HandleValidSubmit()
    {
        foreach (var file in selectedFiles)
        {
            await FileService.UploadFile(file);
        }

        NavManager.NavigateTo("contact-confirmation");
    }


    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles(3);

        //var maxAllowedFiles = 3;
        //var format = "image/png";

        //foreach (var imageFile in e.GetMultipleFiles(maxAllowedFiles))
        //{
        //    var resizedImageFile = await imageFile.RequestImageFileAsync(format, 500, 500);
        //    selectedFiles.Add(resizedImageFile);
        //}
    }
}