@page "/Order"
@using WiredBrainCoffee.Models

<div class="container">
    <div class="order-page">
        <div class="row">
            <div class="col-md-12">
                <h2>New Order</h2>
                <p>Coffee, comfort food, great prices - we have it all.</p>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item">
                        <a @onclick="ShowCoffee" class="nav-link @(CoffeeHidden ? "":"active")">Coffee</a>
                    </li>
                    <li class="nav-item">
                        <a @onclick="ShowFood" class="nav-link @(FoodHidden ? "":"active")">Food</a>
                    </li>
                </ul>
                <div class="tab-containers">
                    <div hidden="@CoffeeHidden" class="coffee-tab">
                        @foreach (var item in CoffeeMenuItems)
                        {
                            <MenuListItem MenuItem="item" OnClickCallback="(e => AddExtras(item))" />
                        }
                    </div>
                    <div hidden="@FoodHidden" class="food-tab hide">
                        @foreach (var item in FoodMenuItems)
                        {
                            <MenuListItem MenuItem="item" OnClickCallback="(e => AddToOrder(item))" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="order-info">
                    <h3>Your Current Order:</h3>
                    @foreach (var item in CurrentOrder)
                    {
                        <OrderListItem OrderItem="item" OnClickCallback="(e => RemoveFromOrder(item))" />
                    }
                    <div class="place-order">
                        <p class="sub-line"><span>Sales Tax:</span><span>@((OrderTotal * SalesTax).ToString("C"))</span></p>
                        <p class="sub-line"><span>Your Total:</span><span>@((OrderTotal + (SalesTax * OrderTotal)).ToString("C"))</span></p>
                        <hr />
                        <Button Color="Color.Success" class="float-right">Place Order</Button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@code {
    string selectedTab = "coffee";

    private bool CoffeeHidden { get; set; } = false;
    private bool FoodHidden { get; set; } = true;

    private void ShowCoffee()
    {
        CoffeeHidden = false;
        FoodHidden = true;
    }

    private void ShowFood()
    {
        CoffeeHidden = true;
        FoodHidden = false;
    }

    [CascadingParameter] public IModalService Modal { get; set; }

    async Task AddExtras(MenuItem item)
    {
        item.Extras = new Extras();
        var formModal = Modal.Show<CoffeeExtrasModal>("Enhance Your Coffee");
        var result = await formModal.Result;

        if (!result.Cancelled)
        {
            item.Extras = (Extras)result.Data;

            AddToOrder(item);
        }
    }

    async Task AddToOrder(MenuItem item)
    {
        CurrentOrder.Add(new OrderItem()
        {
            Name = item.Name,
            Id = item.Id,
            Price = item.Price,
            Extras = item.Extras
        });

        OrderTotal = 0;
        @foreach (var orderItem in CurrentOrder)
        {
            OrderTotal += orderItem.Price;
        }
    }

    async Task RemoveFromOrder(OrderItem item)
    {
        CurrentOrder.Remove(item);

        OrderTotal = 0;
        @foreach (var orderItem in CurrentOrder)
        {
            OrderTotal += orderItem.Price;
        }
    }

    public decimal OrderTotal = 0;
    public decimal SalesTax = 0.06m;

    List<OrderItem> CurrentOrder = new List<OrderItem>();

    List<MenuItem> FoodMenuItems = new List<MenuItem>();
    List<MenuItem> CoffeeMenuItems = new List<MenuItem>();

    protected override Task OnInitializedAsync()
    {
        FoodMenuItems.AddRange(new List<MenuItem>() {
        new MenuItem()
        {
            Id = 1,
            Name = "Frosted Pumpkin Bread",
            Slug = "pumpkin-bread",
            Summary = "A seasonal delight we offer every autumn.  Pumpking bread with just a bit of spice, cream cheese frosting with just a hint of home.",
            Description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.",
            ImageFile = "images/menu/pumpkinbread.png",
            Price = 5
        },
        new MenuItem()
        {
            Id = 3,
            Name = "Granola with Nuts",
            Summary = "It's not flashy, but it sure is healthy.  Perfect for when you need the calories, but not the guilt.",
            Description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.",
            ImageFile = "images/menu/granola.png",
            Price = 5
        },
        new MenuItem()
        {
            Id = 5,
            Name = "Fresh Bagels",
            Summary = "They're just as round as donuts, but far more healthy! Freshly made every morning before sunrise.",
            Description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.",
            ImageFile = "images/menu/bagel.png",
            Price = 5
        },
        new MenuItem()
        {
            Id = 6,
            Name = "Fresh Fruit",
            Summary = "We've got strawberries, blueberries, apples, bananas - we could list them all, but we'd prefer you come take a look!",
            Description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.",
            ImageFile = "images/menu/strawberries.png",
            Price = 5
        },
        new MenuItem()
        {
            Id = 6,
            Name = "Cupcake",
            Summary = "We've got strawberries, blueberries, apples, bananas - we could list them all, but we'd prefer you come take a look!",
            Description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.",
            ImageFile = "images/menu/cupcake.png",
            Price = 5
        },
        new MenuItem()
        {
            Id = 6,
            Name = "Muffin",
            Summary = "We've got strawberries, blueberries, apples, bananas - we could list them all, but we'd prefer you come take a look!",
            Description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.",
            ImageFile = "images/menu/muffin.png",
            Price = 5
        },
        new MenuItem()
        {
            Id = 6,
            Name = "Breakfast Sandwich",
            Summary = "We've got strawberries, blueberries, apples, bananas - we could list them all, but we'd prefer you come take a look!",
            Description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.",
            ImageFile = "images/menu/sandwich.png",
            Price = 5
        } });

        CoffeeMenuItems.AddRange(new List<MenuItem>() {
        new MenuItem()
        {
            Id = 1,
            Name = "Dark Brewed Coffee",
            Slug = "dark-brew",
            Summary = "A classic, refreshing original.",
            Description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.",
            ImageFile = "images/menu/ground.png",
            Price = 5
        },
        new MenuItem()
        {
            Id = 2,
            Name = "Americano",
            Slug = "ground-coffee",
            Summary = "Still classic, but a little more sophisticated.",
            Description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.",
            ImageFile = "images/menu/beans.jpg",
            Price = 5
        },
        new MenuItem()
        {
            Id = 3,
            Name = "Cappucino",
            Summary = "Rich and foamy, its the perfect comfort-coffee.",
            Description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.",
            ImageFile = "images/menu/cup.png",
            Price = 5
        },
        new MenuItem()
        {
            Id = 3,
            Name = "Latte",
            Summary = "More than just coffee, but still just coffee.",
            Description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.",
            ImageFile = "images/menu/ground.png",
            Price = 5
        } });

        return base.OnInitializedAsync();
    }

}
